body{
    text-align: center;
    background-color: #B7B7B7;

}

.box{
    border: 5px solid black;
    height: 500px;
    width: 250px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-weight:bolder;
    font-size:2rem;
    border-radius: 15px;
text-shadow: 5px 1px rgb(243, 236, 236);

}

.box-2{
display: inline-block;
font-family: "Black Ops One", system-ui;
  font-weight: bolder;
  font-style: normal;
  height: 500px;
  width: 200px;
  font-size: 5rem;
  text-shadow: 5px 1px rgb(243, 236, 236);
  margin: 30px;
}
.set{
    padding-top: 150px;
    padding-bottom: 0;
}
.december{
    font-weight: bolder;
    font-size: 2.7rem;
    padding-top:0;
    
}
.letters{
outline: none;
    height: 150px;
    width: 120px;
    display: inline-block;
    font-size: 6rem;
    font-weight: 900;
    line-height: 2;
    background-color: white;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    border: 5px solid #F5F5F7;
    font-family: 'Arvo', cursive;
    text-shadow: 3px 0 red;
    color: black;
}
.d{
    background-image: url(./newImages/shatta.jpg);
}
.e{
    background-image: url(./newImages/smoke.jpg);
}
.c{
    background-image: url(./newImages/blacko.jpg);
}

.m{
    background-image: url(./newImages/blacko.jpg);
}
.b{
    background-image: url(./newImages/blacko.jpg);
}

.r{
    background-image: url(./newImages/smoke.jpg);
}
.music{
    color: rgba(218, 20, 20, 0.541);
    font-family: "Black Ops One", system-ui;
  font-weight: bolder;
  font-style: normal;
}

.pressed{
    box-shadow: 0 3px 4px 0 rgb(190, 166, 166);
    opacity: 0.5;
}
footer{
    font-size: large;
    padding: 20px;
    font-weight: 900;
}